## VSEW32 LMUL1
Pass
## VSEW32 LMUL0.5
Pass
## VSEW32 LMUL0.25
All eew=8  load  store instruction will not be tested. 
vsew should <= elen * lmul
## VSEW32 LMUL2
Pass


## VSEW64 LMUL1
Pass
## VSEW64 LMUL0.5
vsew should <= elen * lmul

## VSEW16 LMUL1
Pass
## VSEW16 LMUL0.5
Pass
## VSEW16 LMUL0.25



